.main {
    background-color: rgba(249, 232, 237, 0.877);

    //index//
    &__tit-h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        background-color: rgb(221, 234, 245);
        font-size: 5rem;
    }

    &__arneses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }

    &__arnes {
        border: 1px solid white;
        width: 100%;
        max-width: 200px;
        margin-bottom: 2rem;
    }

    &__imgprod {
        width: 100%;
        height: 300px;
        background-color: #f7f7f7;
    }

    &__fotoProd {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__descripcionP {
        font-size: 25px;
        text-align: center;
    }

    &__precioProducto {
        font-size: 20px;
        text-align: center;
    }

    &__botonComprar {
        font-size: 20px;
        text-align: center;
        color: black;
        background-color: pink;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }
//Titulos otras pages//
&__txtPrin {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(221, 234, 245);
    font-size: 5rem;
 }
//pages productos

.row {
    justify-content: space-between;
    padding: 2rem;
}

.btn-card {
    background-color: #5d6271;
    color: #fff;
}

.card-body {
    background-color: #dadada;
}

.card {
    width: 18rem;
}

.grid-bootstrap {
    background-color: bisque;
}

.grid-bootstrap div {
    border: 1px solid black;
}
 
// page información 

&__tablaTalles {
    Display: block;
    Margin: 0 auto;
    padding: 1rem;
}
&__comoHacertuPedido {
    Display: block;
    Margin: 0 auto;
    padding: 1rem;
}
// pages contactos

&__form-contact {
    background-color: #24303c;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    padding: 30px;}

&__titFormCont{
    font-size: 22px;
    margin-bottom: 20px;
}

&__controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f531fc5 ;
    font-family: 'calibri';
    font-size: 18px;
}
&__coment{ 
    padding: 10px;
}
&__boton{
    width: 100%;
    background: #1f53c5;
    border:none;
    padding: 8px;
}
}

